body{
    background: #efefef url(images/background.png);
    margin: 0;
    padding: 0;
    font: 16px/24px Arial, Tahoma, sans-serif;
    color: #272727
}

a {
    text-decoration: none
}

a:hover{
    transition: all 0.5s;
}

/*Структура сайта*/
div.mid{
    width: 1000px;
    margin: 0 auto;
}

div.header{
    padding-top: 20px;
    background: radial-gradient(rgba(255,255,255,0.2), #101417 240px, transparent 240px) 16% -200px; /* url(images/1907.jpg);*/
    background-repeat: no-repeat;
    /*background-position: top;*/
    background-size: 600px 600px;
    background-color: #101417
}

/*Шапка сайта*/
div.header img{
    height: 68px;
    width: 53px;
}

div.topmenu{
    float: right;
    height: 100px;
    line-height: 100px
}

div.topmenu a{
    margin: 0 0 0 10px;
    /*color: #000000;*/
    color: #00FFFF;
}

div.topmenu a:hover{
    color: #fff;
}

div.afisha{
    padding: 20px 50px 1px 50px;
    margin-top: 20px;
    background: linear-gradient(90deg, #c16a8a 100px, #a367ba 100px, #a367ba 200px,
        #2b798f 200px, #2b798f 300px, #76a7ac 300px, #76a7ac 400px,
        #93ae65 400px, #93ae65 500px, #dbb16f 500px) left top repeat-x;
    background-color: #f2f2f2;
    background-size: 500px 10px;
}

div.afisha img{
    float: left;
    width: 320px;
    height: 180px;
}
div.afisha p{
    text-align: center;
}

div.afisha a{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #b23600;
    border: 1px solid #862900;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 7px -1px #777;
    text-shadow: 0px 0px 3px #752300;
}

div.afisha a:hover{
    background: #068bac;
    border: 1px solid #046d88;
    text-shadow: 0px 0px 3px #034e61;
}

div.afisha h3{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #830000;
}
/*Главное меню*/
div.menu{
    background: #1683a3;
    border: 1px solid #016c8b;
    border-left: none;
    border-right: none;
    width: 1000px;
    margin: 0 auto;
}

div.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
div.menu ul li{
    display: inline-block;
    margin: 5px 30px;
}

div.menu ul li a{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #0b4455;
}

div.menu ul li a:hover{
    color: #a3e1f3;

}

/*Контент сайта*/
div.fon {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 40px;
}

div.fon hr.line {
    border: none;
    border-bottom: 1px dashed #ccc;
    height: 0;
    margin: 40px 0;
}

div.block {
    width: 440px;
    float: left;
}

div.block:nth-of-type(even) {
    float: right;
}

div.block a p{
    color: #272727;
}

div.anons:hover{
    background: #e0eff4;
    border: 1px solid #bfd5dd;
    transition: all 1s;
}

div.anons{
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}


div.anons img{
    height: 300px;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 5px #777;
    transition: transform 0.5s;
}

div.anons:hover img{
    transform: scale(1.15) rotate(2deg);
}

div.block:nth-of-type(even) div.anons:hover img{
    transform: scale(1.15) rotate(-2deg);
}


div.anons h3{
    font-size: 20px;
    margin: 20px 0px 10px;
    color: #01617d;
    padding: 0;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
}

div.anons p{
    text-shadow: 1px 1px 0 #fff;
}

div.rek {
    text-align: center;
}

div.rek img{
    width: 700px;
    box-shadow: 1px 1px 5px #777;
    position: relative;
}

div.rek img:hover{
    -webkit-animation: prigskok 2s;
}

@-webkit-keyframes prigskok {
    0%{top:0;}
    10%{top: 40px;}
    20%{top: -30px;}
    30%{top: 40px;}
    40%{top: -20px;}
    50%{top: 40px;}
    60%{top: -10px;}
    70%{top: 40px;}
    80%{top: 0;}
    90%{top: 40px;}
    95%{top: 20px;}
    100%{top: 0;}
}



section.image img {
    width: 400px;
}

/*Подвал*/

div.footer{
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

div.footer span{
    margin: 0 20px;
}


div.clear{
    clear: both;
}


/*Адаптивный дизайн*/
@media screen and (max-width: 1000px){
    div.mid{width: 95%;}
    div.afisha h3{font-size: 22px;}
    div.block{width: 48%;}
    div.menu, div.rek img{width: 100%}
    div.anons img{width: 100%;}
    div.anons h3{font-size: 18px;}
    body{background: #efefef;}
}

@media screen and (max-width: 675px){
    div.afisha h3{font-size: 18px; text-align: right;}
    div.afisha img {width: 40%; height: 40%;}
    div.afisha a{font-size: 15px;}
    div.afisha p{text-align: right;}
    div.footer span{margin: 10px 0; display: block;}
    div.block:nth-of-type(even){float: none;}
    div.block{height: 10%; width: auto; margin-bottom: 40px;}
}

@media screen and (max-width: 403px){
    div.header{text-align: center; background-position: center -150px;}
    div.topmenu{font-size: 11px;}
    div.afisha img {width: 40%; height: 40%; float: none;}
    div.afisha a{font-size: 11px;}
    div.afisha p{text-align: center;}
    div.afisha h3{font-size: 15px; text-align: center;}
    div.block{height: 10%; width: auto; margin-bottom: 40px;}
    div.block, div.block:nth-of-type(even), div.topmenu{float: none;}
    div.block:nth-last-of-type(2){margin-bottom: 0;}
    div.footer span{margin: 10px 0; display: block;}
}

/*Анимация*/
